@font-face
  font-family 'Lato'
  src url('LatoLatin-Bold.woff2') format('woff2'), url('LatoLatin-Bold.woff') format('woff'), url('LatoLatin-Bold.ttf') format('truetype')
  font-style normal
  font-weight bold
  text-rendering optimizeLegibility

@font-face
  font-family 'Lato'
  src url('LatoLatin-Italic.woff2') format('woff2'), url('LatoLatin-Italic.woff') format('woff'), url('LatoLatin-Italic.ttf') format('truetype')
  font-style italic
  font-weight normal
  text-rendering optimizeLegibility

@font-face
  font-family 'LatoLatinWeb'
  src url('LatoLatin-Regular.woff2') format('woff2'), url('LatoLatin-Regular.woff') format('woff'), url('LatoLatin-Regular.ttf') format('truetype')
  font-style normal
  font-weight normal
  text-rendering optimizeLegibility